body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url('/frontend/assets/images/whistleblower.jpg');

}



/* Navbar */
.navbar {
  background-color: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links a {
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
  font-size: 1rem;
}

/* Hero Section */
.hero {
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  background: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}

.hero-content h1 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-content p {
  color: white;
  font-size: 1.2rem;
}
.tips-box {
  background-color: #e8f0fe;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}
.tips-box h3 {
  margin-top: 0;
}

.tips-box ul {
  list-style-type: disc;
  padding-left: 20px;
/* }questions showed after posting */
.questions-container {
  padding: 20px;
}

.question-item {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
}
